// Shadow //

=shadow
    box-shadow: 0 2px 5px 1px #0001
    transition: box-shadow $superfast
    
// Border Radius //

$border-radius: 8px
  
// Easing //
 
$ease-in-out: ease-in-out
$superfast: 0.1s $ease-in-out

// Mix-ins //

=center
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

=noselect
  -webkit-touch-callout: none // iOS Safari
  -webkit-user-select: none // Safari
  -khtml-user-select: none // Konqueror HTML
  -moz-user-select: none // Firefox
  -ms-user-select: none // Internet Explorer/Edge
  user-select: none // Non-prefixed version, currently supported by Chrome and Opera